.app-header {
  button {
    @media (max-width: 600px) {
      margin: 0 0.25rem;
      padding: 0 0.5rem;
      font-size: 0.6rem;
    }
    @media (min-width: 601px) and (max-width: 1200px) {
      margin: 0 0.5rem;
      padding: 0 0.75rem;
      font-size: 0.75rem;
    }
    @media (min-width: 1201px) {
      margin: 0 1rem;
      padding: 0 1rem;
      font-size: 1rem;
    }
  }

  .example-spacer {
    flex: 1 1 auto;
  }

  .mat-toolbar {
    background-color: black;
    color: white;

    @media (max-width: 600px) {
      padding: 0 0.5rem;
    }
    @media (min-width: 601px) and (max-width: 1200px) {
      padding: 0 4rem;
    }
    @media (min-width: 1201px) {
      padding: 0 16rem;
    }
  }

  .mat-mdc-outlined-button:not(:disabled) {
    border-color: white;
  }
}
